body {
  background-color: #0a0a0a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(76, 44, 34, 0.5), rgba(41, 11, 2, 0.8)),
    url("../images/salem-aerial.jpg");
  background-repeat: inherit;
  background-size: cover;
  padding: 100px 20px 5px 20px;
  color: #e2dfd8;
  text-align: center;
}

header a {
  display: inline-block;
  padding: 12px 20px 12px 20px;
  background-color: #b59782;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12pt;
  color: #0a0a0a;
  margin-top: 40px;
  margin-bottom: 60px;
}

header a:hover {
  background-color: #90694e;
  margin-top: 40px;
  margin-bottom: 60px;
}

h1 {
  font-size: 64pt;
  margin-bottom: 30px;
  font-family: "Unna";
}

h2 {
  font-size: 28pt;
  margin: 0px 60px 0px 60px;
  font-family: "Unna";
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: #d3d2cd;
}

.image-credit {
  text-align: right;
  margin-bottom: 10px;
  font-size: 10pt;
}

.main {
  background-color: #1b1a1a;
}

footer {
  text-align: center;
}

@media (max-width: 900px) {
  header {
    padding: 40px 10px 3px 10px;
  }

  h1 {
    font-size: 32pt;
  }

  h2 {
    font-size: 14pt;
  }

  header a {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px 16px 10px 16px;
    font-size: 10pt;
  }

  header a:hover {
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .image-credit {
    margin-bottom: 5px;
    font-size: 8pt;
  }
}
